

doctype html
html
  head
    title Slim Examples
    meta name="keywords" content="template language"
    meta name="author" content=@author

    sass:
      @import 'rounded-corners'

      html
        background: #ccccff
        padding: 20px
        font-family: Arial, Helvetica, sans-serif

      #content
        +round-corners(10px)
        padding: 20px
        margin-bottom: 20px
        background: white

      h1
        margin-top: 0px

  body
    h1 Markup examples

    #content
      == yield

    div id="footer"
      | Copyright © #{@year} #{@author}